# {{ ansible_managed }}
#install4j response file for JIRA {{ jira_version }}
rmiPort$Long={{ jira_rmi_port }}
app.install.service$Boolean={{ jira_run_as_service }}
existingInstallationDir=/opt/JIRA
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jira_install_dir }}
app.jiraHome={{ jira_data_dir }}
executeLauncherAction$Boolean=true
httpPort$Long={{ jira_http_port }}
portChoice=default
